.trang {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height: 1000px;
}
.dau {
    background-color: green;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
h1{
    text-align: center;
}
.product-items{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px; 
    margin-left: 375px;
}

.product-items ul{
    padding: 0;
    margin: 0;
    text-align: left;
}
.product-prop{
    float: right;
    border-left: 1px solid #ccc;
    line-height: 30px;
    padding: 0 10px;
}

.product-name{
    padding-left: 10px;
    /* border-right: 0; */
    float: left;
    width: 170px;
}
.product-button{
    float: right;
    border-left: 1px solid #ccc;
    border-right: 0;
    padding: 0 10px;
    width: 50px;
    text-align: center;
}
.clear-both{
    clear: both;
}
.product-items ul li{
    list-style: none;
    border: 1px solid #ccc;
    border-top: 0;
    border-left: 0;
}

.product-item-heading{
    text-align: center;
    font-weight: bold;
}
.product-item-heading .product-prop{
    height: 40px;
    line-height: 20px;
    /* background: #717171; */
    color:black;
}
.buttons{
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 20px;
}
.buttons a{
    color: white;
    padding: 10px;
    background: #000;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.main-content{
    float: left;
    width: 1200px;
    /* margin-left: 30px; */
}
#test{
    border: 1px solid;
}