.table{
    margin: 0 30px;
}
.trang{
	width: 80%;
	margin: 0 auto;
	border: 1px solid gray;
	overflow: auto;
}
.dau{
	font-weight: bold;
	padding-left: 400px;	
}
.dau a{
	float: right;
	text-decoration: none;
	padding-right: 10px;
	color: black;
}
.dau text{
	padding-right: 10px;
	float: right;
}